/* css-reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* global */
body {
    font-family: 'Balsamiq Sans', cursive;
}

/* nav */
nav {
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    margin: 0;
    padding: 0 30px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav .brand {
    margin-top: 20px;
    height: 60px;
}

nav ul button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 6px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(73, 73, 73);
    border: 0;
    outline: 0;
    color: white;
}

nav ul button img {
    height: 30px;
    padding-left: 5px;
}

nav label {
    background-color: #ffffff;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

nav label input {
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 5px;
}

/* main */

/* latest-articles */
.latest-articles {
    position: relative;
}

.latest-articles>.div-1 {
    position: absolute;
}

.latest-articles>h1 {
    width: 30%;
    left: 50%;
    margin-left: -15%;
    margin-top: 40px;
    line-height: 1.2;
    font-size: 36px;
    text-align: center;
}

.latest-articles>h1>span {
    padding: 5px 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    letter-spacing: -1px;
    background-color: rgb(161, 161, 161);
}

.latest-articles>.div-2 {
    width: 10%;
    height: 65px;
    border: 1px black solid;
    left: 50%;
    margin-left: -5%;
    margin-top: 90px;
    z-index: 2;
    background-color: rgb(161, 161, 161)
}

.latest-articles-container {
    display: flex;
    flex-wrap: wrap;
}

.latest-articles-container>* {
    width: 50%;
    height: 560px;
    border: 1px black solid;
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    background-color: rgb(199, 198, 198);
}

.latest-articles-container a {
    padding-left: 20px;

    text-decoration: none;
    color: #565656;
}

.latest-articles-container>article>div:first-child {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: none;
    font-size: 20px;
}

.latest-articles-container>article div:nth-child(2) {
    padding: 30px 20px;
    font-size: 40px;

}

.latest-articles-container a>span {
    font-family: 'Fondamento',
        cursive;
    font-size: 18px;
}

.latest-articles-container>.latest-articles-item-taller {
    height: 710px;
    padding-top: 190px;
}

.latest-articles-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-color: #d8d8d8;
    transform: rotate(-20deg);
}

.latest-articles-image:hover {
    transform: rotate(0deg);
}

/* latest-posts */
.latest-posts {
  padding: 80px 40px;
}
.latest-posts-container {
    display: flex;
    align-items: flex;
    flex-wrap: wrap;
}

.latest-posts-item {
    width: 25%;
    height: 592px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
}

.latest-posts-item span {
    font-size: 14px;
    color: rgb(165, 164, 164);
    padding: 15px 0;
}

.latest-posts-item h2 {
    font-size: 26px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.latest-posts-item h3 {
    font-size: 16px;
    padding-bottom: 25px;
}

.latest-posts-item h3 a {
    text-decoration: none;
    color: inherit;
}

.latest-posts-item p {
    line-height: 30px;
}

.latest-posts-button {
    left: 0;
    width: 115px;
    height: 115px;
    bottom: 0;
    position: absolute;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: inherit;
}

.latest-posts-feature {
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    line-height: 1.8;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    margin-bottom: 30px;
}

.latest-posts-feature > a {
  font-size: 30px;
  color: #565656;
  text-decoration-color: #aaaaaa;
}

.latest-posts-feature p {
  padding: 20px 60px;
}

.latest-posts-feature-button {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 15px auto;
  cursor: pointer;
  background-color: rgb(155, 155, 155);
  color: white;
}

.latest-posts-feature img {
    width: 250px;
}

.latest-posts>p {
  text-align: center;
  margin: 50px auto;
}

.latest-posts>p>a {
    color: #565656;
    line-height: 1.6;
    padding: 15px 0;
    text-decoration: none;
    border-bottom: 3px solid #494949;
}

/* book-add */
.book-add {
    height: 1060px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.book-add-details > * {
  margin-bottom: 30px;
  max-width: 60%;
  margin: 30px auto;
}

.book-add-heading {
  font-size: 48px;
  margin: 30px auto;
  text-decoration: underline;
  text-decoration-color: darkgray;
}

.book-add-image {
  width: 60%;
}

.book-add-button {
  font-size: 24px;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

/* Potw */
.potw {
    height: 300px;
    background-color: aqua;
}

/* authored-articles */
.authored-articles-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.authored-articles-item {
    width: 50%;
    height: 400px;
    border: 1px solid yellow;
}

.authored-articles>p {
    height: 30px;
    background-color: gray;
    margin: 30px auto;
    width: 15%;
}

/* featured-book */
.featured-book {
    height: 380px;
    background-color: darkgray;
}

/* our-guides */
.our-guides-articles {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our-guides-articles-item {
    height: 580px;
    border: 1px solid darkslateblue;
    width: 30%;
}

.our-guides-newsletter {
    height: 850px;
    width: 650px;
    margin: 30px auto;
    background-color: dimgray;
}

.our-guides>p {
    height: 30px;
    background-color: gray;
    margin: 30px auto;
    width: 15%;
}

/* footer */
footer {
    height: 700px;
    background-color: gray;
}


/* Pseudo classes for the stylelint linter to work */
.latest-posts-item:hover {
  transform: scale(1.1);
  border: none;
  background-color: whitesmoke;
  z-index: 3;
}
.latest-posts-item:hover .latest-posts-button {
  background-color: rgb(172, 172, 172);
}