/* css-reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* global */
body {
  font-family: 'Balsamiq Sans', cursive;
}

/* nav */
nav {
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    margin: 0;
    padding: 0 30px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav .brand {
  margin-top: 20px;
  height: 60px;
}

nav ul button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
}

nav ul button img {
  height: 30px;
  padding-left: 5px;
}

nav label {
  background-color: #ffffff;
  color: black;
  padding: 15px;
  border-radius: 10px;
}

nav label input {
  border: none;
  outline: none;
  font-size: 20px;
  padding-left: 5px;
}

/* main */

/* latest-articles */
.latest-articles {
    position: relative;
}

.latest-articles>.div-1{
    position: absolute;
}

.latest-articles>h1 {
    width: 30%;
    left: 50%;
    margin-left: -15%;
    margin-top: 40px;
    line-height: 1.2;
    font-size: 36px;
    text-align: center;
}
.latest-articles>h1>span {
  padding: 5px 15px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  letter-spacing: -1px;
  background-color: rgb(161, 161, 161);
}

.latest-articles>.div-2 {
    width: 10%;
    height: 65px;
    border: 1px black solid;
    left: 50%;
    margin-left: -5%;
    margin-top: 90px;
    z-index: 2;
    background-color: rgb(161, 161, 161)
}

.latest-articles-container {
    display: flex;
    flex-wrap: wrap;
}

.latest-articles-container>* {
    width: 50%;
    height: 560px;
    border: 1px black solid;
    padding: 30px;
    display: flex;
}

.latest-articles-container> * > a {
  padding: 25px;
  font-size: 20px;
  text-decoration: none;
  color: #565656;
}

.latest-articles-container>.latest-articles-item-taller {
    height: 710px;
    padding-top: 190px;
}

.latest-articles-image {
  width: 75px;
  height: 75px;
  background-color: #d8d8d8;
  transform: rotate(-20deg);
}

/* latest-posts */
.latest-posts-container {
  display: flex;
  align-items: flex;
  flex-wrap: wrap;
}

.latest-posts-item {
  width: 25%;
  height: 592px;
  border: 1px black solid;
}

.latest-posts-feature {
  width: 50%;
}

.latest-posts > p {
  height: 30px;
  background-color: gray;
  margin: 30px auto;
  width: 15%;
}

/* book-add */
.book-add {
  height: 1060px;
  background-color: #ccc;
}

/* Potw */
.potw {
  height: 300px;
  background-color: aqua;
}

/* authored-articles */
.authored-articles-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.authored-articles-item {
  width: 50%;
  height: 400px;
  border: 1px solid yellow;
}

.authored-articles > p {
  height: 30px;
  background-color: gray;
  margin: 30px auto;
  width: 15%;
}

/* featured-book */
.featured-book {
  height: 380px;
  background-color: darkgray;
}

/* our-guides */
.our-guides-articles {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.our-guides-articles-item {
  height: 580px;
  border: 1px solid darkslateblue;
  width: 30%;
}

.our-guides-newsletter {
  height: 850px;
  width: 650px;
  margin: 30px auto;
  background-color: dimgray;
}

.our-guides > p {
  height: 30px;
  background-color: gray;
  margin: 30px auto;
  width: 15%;
}

/* footer */
footer {
  height: 700px;
  background-color: gray;
}